body {
    background-image: url(background.jpeg);
    background-size: cover;
    margin:0;
    padding: 0;
}

/*this is the layout part*/

.content {
    background-color: rgba(43, 213, 243, 0.5);
    display:flex;
    flex-direction: column;
    height:100vh;
}

.container-top {
    height:50%;
    flex:1;
    display:flex;
    background-color: rgba(243, 43, 43, 0.5);
}

.container-bottom {
    height:50%;
    flex:1;
    display:flex;
    background-color: rgba(90, 245, 84, 0.5);
}

.top {
    display:flex;
    flex:1;
}

.bottom {
    display:flex;
    flex:1;    
}

article {
    display:flex;
    background-color: rgba(146, 84, 245, 0.5);
    flex:1;
}

aside {
    display:flex;
    background-color: rgba(247, 233, 48, 0.5);
    flex:1;
}

.left {
    background-color: rgba(248, 247, 228, 0.5);
    flex:1;
    display:flex;
    flex-direction:column;
}

.right {
    background-color: rgba(186, 239, 252, 0.5);
    flex:1;
    display:flex;
    justify-content:flex-end;
}

.middle {
    flex:1;
}

.one {
    flex:1;
}

.two {
    flex:1;
}

/* this is transitions part */


.middle .lightbulb {
    max-height: 180px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.middle .lightbulb:hover {
    max-height: 250px;
}

.right .lightbulb {
    max-height: 180px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.right .lightbulb:hover {
    max-height: 250px;
}

.right .corgi {
    max-height: 230px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.right .corgi:hover {
    max-height: 250px;
}
  











