body {
    background-image: url(background.jpeg);
    background-size: cover;
    margin:0;
    padding: 0;
}

/*this is the layout part*/

.content {
    display:flex;
    flex-direction: column;
    height:100vh;
}

.container-top {
    height:50%;
    flex:1;
    display:flex;
}

.container-bottom {
    height:50%;
    flex:1;
    display:flex;
}

.top {
    display:flex;
    flex:1;
}

.bottom {
    display:flex;
    flex:1;    
}

article {
    display:flex;
    flex:1;
}

aside {
    display:flex;
    flex:1;
}

.left {
    flex:2;
    display:flex;
    flex-direction:column;
}

.right {
    flex:3;
    display:flex;
    justify-content:flex-end;
}


.one {
    display:flex;
    justify-content:right;
    flex:1;
}

.two {
    display:flex;
    justify-content:right;
    flex:1;
}

.middle {
    flex:2;
    display:flex;
    justify-content:center;
}

.middlepresent {
    flex:2;
    display:flex;
    justify-content:center;
    align-items: flex-end;
}

/* this is transitions part */


.middle .lightbulb {
    max-height: 180px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.middle .lightbulb:hover {
    max-height: 250px;
}

.right .lightbulb {
    max-height: 180px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.right .lightbulb:hover {
    max-height: 250px;
}

.right .corgi {
    max-height: 230px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.right .corgi:hover {
    max-height: 300px;
}

.one .angel {
    max-height: 100px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.one .angel:hover {
    max-height: 180px;
}

.two .ball {
    max-height: 100px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.two .ball:hover {
    max-height: 180px;
}

.middle .decor {
    max-height: 100px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.middle .decor:hover {
    max-height: 180px;
}

.middlepresent .present {
    max-height: 100px;
    transition-property: max-height;
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

.middlepresent .present:hover {
    max-height: 180px;
}










